.app-name {
	padding-left: 50px;
	padding-top: 30px;
	padding-bottom: 40px;
	font-size: 80px;
	color: white;
	display: inline-block;
}

.numba-won {
	color: white;
	padding-top: 20px;
	padding-left: 50px;
	font-size: 50px;
	grid-column-start: 1;
	grid-column-end: 3;
}

.button-2 {
    color: white;
    margin: auto;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}

.signup-login {
	
	display: grid;
	grid-template-columns: repeat(6, 1fr);
}

.signupform {
	
	grid-column-start: 4;
	grid-column-end: 6;
	grid-row-start: 1;
	grid-row-end: 4;
}

main {
	background-image: linear-gradient(to right bottom, #0048c2, #0042b3, #003ca5, #003797, #003189, #002d7c, #00286e, #002461, #001f50, #001a40, #001430, #000c20);
	width: 100vw;
	height: 100vh;
}

.span-heart {
	color: red;
	font-size:80px;
	font-weight: bold;
}

.app-logo {
	width:130px;
}

