.weather-card {
    border: 1px sold;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    width: 450px;
    height: 100px;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 15px white;
    margin-top: 35px;
}
.weather-icon {
    padding-left: 26px;
    grid-column-start: 1;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}

.location-name {
    margin-top: 17px;
    font-size: 22px;
    font-weight: bold;
    /* margin-left: 24px; */
    grid-column-start: 2;
	grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.temp {
    /* float: right; */
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    grid-column-start: 4;
	grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 5;
}

/* .desc {
    margin-top: 15px;
    grid-column-start: 1;
	grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
} */

.detail-btn-class {
    grid-column-start: 9;
	grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.detail-btn {
    color: white;
	background-color: rgba(0,0,0,0.25);
    border: 1px solid;
    border-color: rgb(255, 255, 255, 0.5);
    padding: 8px 10px;
    border-radius: 10px; 
    cursor:pointer;
}

.detail-btn:hover {
    color:bisque;
	background-color: rgba(0,0,0,0.25);
}



