.weather-card {
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    width: 450px;
    height: 100px;
    align-items: center;
    color: white;
    box-shadow: 1px 1px 1000px white;
    margin-top: 35px;
}

.weather-icon {
    justify-self: start;
    grid-column-start: 2;
	grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 4;
}

.location-name {
    justify-self: start;
    margin-top: 17px;
    font-size: 22px;
    grid-column-start: 5;
	grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.temp {
    justify-self: start;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
    grid-column-start: 5;
	grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 5;
}


.detail-btn-class {
    justify-self: end;
    grid-column-start: 1;
	grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}

.detail-btn {
    color: white;
	background-color: rgba(0,0,0,0.25);
    border: 1px solid white;
    border-color: white;
    padding: 8px 10px;
    border-radius: 10px; 
    cursor:pointer;
}

.detail-btn:hover {
    color:bisque;
	background-color: rgba(0,0,0,0.25);
    box-shadow: 1px 1px 15px white;
}



