.form-container-log-in {
  background-color: rgba(0,0,0,0.6);
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
	grid-column: 3 / 3;
  grid-row: 2;
  padding: 3vmin;
  margin: none;
	margin-top: 30px;
  border: 10px;
	border-radius: 1vmin;
}

.label-in-signin-form {
	/* display: flex; */
	color: white;
}

.sign-in-form {
  display: grid;
  /* grid-template-columns: 1fr 3fr; */
  gap: 0.8vmin;
}

.sl-button {
	margin-top: 2.8vmin;
}