.home-container {
    display: grid;
	grid-template-columns: repeat(10, 1fr);
}

.instruction {
    grid-column-start: 1;
	grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    font-size: 60px;
    margin-left:80px;
    margin-top: 30px;
}


h2 {
    color: beige;
    font-size: 30px;
    margin-top: 150px;
    margin-left: 100px;
}

.review-1 {
    grid-column-start: 1;
	grid-column-end: 10;
    grid-row-start: 2;
    grid-row-end: 3;
}

.review-2 {
    grid-column-start: 5;
	grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 3;
}

.review-3 {
    grid-column-start: 1;
	grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
} 

.image-in-homepage {
    grid-column-start: 5;
	grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 139px;
    margin-left: 10px;
}

.ppl {
    margin-top: 10px;
    font-size: 25px;
    color: wheat;
}

.position {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

@media (min-width: 370px) {
    .home-container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
    }
    
    .instruction {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        font-size: 30px;
        margin-left:80px;
        margin-top: 30px;
    }
    
    
    .h2 {
        display: none;
    }
    
    .review-1 {
        grid-column-start: 1;
        grid-column-end: 10;
        grid-row-start: 2;
        grid-row-end: 3;
    } 


}

