.home-container {
    display: grid;
	grid-template-columns: repeat(8, 1fr);
}

.instruction {
    grid-column-start: 1;
	grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    color: white;
    font-size: 50px;
    margin-left:80px;
    margin-top: 30px;
    margin-bottom: 100px;
}


h2 {
    color: beige;
    font-size: 24px;
    margin-top: 130px;
    margin-left: 120px;
}

.review-1 {
    grid-column-start: 1;
	grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
}

.review-2 {
    grid-column-start: 3;
	grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 5;
    padding-top: 100px;
}

.review-3 {
    grid-column-start: 2;
	grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
    padding-left:0px;
    padding-top: 200px;
} 


.ppl {
    margin-top: 10px;
    font-size: 20px;
    color: wheat;
}

.position {
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

@media (max-width: 1300px) {
    .instruction {
        grid-column-start: 1;
        grid-column-end: 6;
        grid-row-start: 1;
        grid-row-end: 2;
        color: white;
        font-size: 40px;
        margin-left:80px;
        margin-top: 30px;
    }

    .review-1 {
        display: none;
    }
    
    .review-2 {
        display: none;
    }
    
    .review-3 {
        display: none;
    } 
    

    .ppl {
        display: none;
    }

    .position {
        display: none;
    }
}